@import "tailwindcss";

@font-face {
  font-family: "Anisette";
  src: url("/fonts/anisette-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Anisette";
  src: url("/fonts/anisette-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Anisette";
  src: url("/fonts/anisette-black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Anisette";
  src: url("/fonts/anisette-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Anisette", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body,
  html,
  #root {
    @apply h-full;
  }
}

@layer utilities {
  .bg-velada-pink {
    background-color: #f19fca;
  }

  .mask-fade-top {
    mask-image: linear-gradient(to bottom, transparent 0%, black 80%);
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 80%);
  }

  .mask-fade-bottom {
    mask-image: linear-gradient(to top, transparent 0%, black 20%);
    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 20%);
  }
}
